<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon aria-hidden="false" aria-label="Logo">group</mat-icon>Character</a>
      <a mat-list-item href="#"><mat-icon aria-hidden="false" aria-label="Logo">place</mat-icon>Locations</a>
      <a mat-list-item href="#"><mat-icon aria-hidden="false" aria-label="Logo">movie</mat-icon>Episodes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon aria-hidden="false" aria-label="Logo">smart_toy</mat-icon>
      <span>Rick and Morty</span>
      <span class="spacer"></span>
      <button mat-icon-button aria-label="Code">
        <mat-icon>code</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
